- provide(:title, 'about')
.pull-left
  %h2
    爱好
  %p
    Ruby on Rails, Java, 足球, 羽毛球, Dota
  %h2
    联系方式
  %ul
    %li
      =link_to 'zhaiwei_xjtu@163.com','mailto:zhaiwei_xjtu@163.com'
    %li
      %img
      =link_to 'nihaokid','http://weibo.com/nihaokid'
    %li
      -#=image_tag('welcome/github.png')
      =link_to 'nihaokid','https://github.com/nihaokid'

.pull-right


