%html
  %head
    %meta{:charset => "UTF-8"}
    %title
      Do Me A Favor | #{yield :title}
    = stylesheet_link_tag 'application', :media => "all", "data-turbolinks-track" => true
    = csrf_meta_tag
  %body
    = yield